/*body {
background-image: url(http://i.imgur.com/Zrp6hA6.jpg);
}*/

#wrapper{
  width: 100%;

}

#grid{
    /*width: 90%;*/
    margin: 0 auto;
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: inline-block;
}