/*body {
background-image: url(http://i.imgur.com/Zrp6hA6.jpg);
}*/

#wrapper{
  width: 100%;

}

#grid{
    width: 90%;
    margin: 250px auto;
    text-align: center;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    display: inline-block;
}

.blue {
    width: 80px;
    height: 80px;
    border: 1px solid blue;
    background-color: blue;
    display: inline-block;
}